header,footer,section,aside,nav,article,figure,figcaption{
	display: block;
}
body{
	color: #666666;
	background-color: #f9f8f6;
	background-image: url('bg1.jpeg');
	background-position: center;
	font-family: georgia,times,serif;
	line-height: 1.4em;
	margin: 0px;
	width: 100%;
}
.wrapper{
	width: 940px;
	margin: 20px auto 20px auto;
	background-color: #ffffff;
	grid-gap: 30px;
}
header{
	height: 160px;
	background-image: url('bg2.jpeg');
	width: 940px;
}
h1{
	text-indent: -9999px;
	width: 940px;
	height: 130px;
	margin: 0px;
}
nav,footer{
	clear: both;
	color: #ffffff;
	background-color: #030119;
	height: 30px;
}
nav ul{
	margin: 0px;
	padding: 5px 0px 5px 30px;
}
nav li{
	display: inline;
	margin-right:40px ;
}
nav li a{
	color: #ffffff;
}
nav li a:hover,
nav li a.current{
	color: red;
	
}
article{
	clear: both;
	overflow:auto ;
}
hgroup{
	margin-top: 40px;
}
aside{
	width: 230px;
	float: left;
	padding: 0px 0px 0px 20px;
}
aside section a{

padding: 10px;
border-bottom: 1px #eeeeee;
}
aside section a:hover{
	color: #985d6a;
	background-color: #efefef;
}
a{
	color: #de6581;
	text-decoration: none;
}
h1,h2,h3{
	font-weight: normal;
}
h2{
	margin: 10px 0px 5px 0px;
	padding: 0px;
}
h3{
	margin: 0px 0px 10px 0px;
}
aside h2{
	padding: 30px 0px 10px 0px;
	color:#de6581;
}
footer{
	font-size: 80%;
	padding: 7px 0px 0px 20px;
}
/*
  */
/*  */
/* Card css */
/*  */
/* 
 */